.is--application-list {
  .grid-header {
    display: flex;
    flex-direction: row;
    background: #fff;
    padding: 10px;
    margin: 0 0 10px 0;
    .search {
      width: 300px;
      display: flex;
      flex-direction: row;
      span.search-result {
        color: #999;
        margin: 0 15px;
        display: flex;
        align-items: center;
      }
    }
    .grid-controls {
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-content: flex-end;
      button {
        margin: 0 0 0 5px;
      }
    }
  }
  .application-items {
    display: grid;
    grid-template: "1 2" / auto;
    grid-gap: 10px 10px;
    .application-item {
      background: #fff;
      padding: 10px;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
      display: grid;
      grid-template:
        "header info"
        "description info"
        "actions info"
        / auto 150px;
      .item-label {
        font-size: 18px;
        grid-area: 1 header;
      }
      .item-description {
        padding: 5px 0;
        font-size: 12px;
        color: #999;
        grid-area: 2 description;
      }
      .item-information {
        margin: 5px 0;
        grid-area: 1 / info / 10;
        .information-item {
          display: flex;
          flex-direction: row;
          .item-label {
            font-size: 12px;
            color: #999;
            width: 65px;
          }
          .item-value {
            font-size: 12px;
            color: #333;
          }
        }
      }
      .item-actions {
        grid-area: 3 actions;
        a {
          font-size: 12px;
          color: #666;
          text-decoration: none;
          margin: 0 10px 0 0;
          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}