<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>savas - An http-service to serve updates for your applications</title>

    <link rel="shortcut icon" type="image/png" href="/static/favicon.png">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata|Nunito|Ubuntu">
</head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>
